﻿@model Store.Data.Models.ApplicationRole



<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="wishlist.html">Roles</a></li>
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="coupon-accordion">
        <!-- ACCORDION START -->
        @*<h3>Add User <span id="showlogin"></span></h3>*@
        <div id="checkout-login" class="coupon-content" style="display: block;">
            <div class="coupon-info">
                <form asp-action="AddEditApplicationRole" asp-controller="Role">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <div class="form-line">
                            <input asp-for="Name" class="form-control" placeholder="RoleName" />
                        </div>
                    </div>
                    <center>
                        <input type="submit" value="Add" class="btn btn-raised btn-success btn-sm" />
                    </center>
                </form>
            </div>
        </div>

        <div class="cart-main-area wish-list ptb-45">


            <div class="coupon-accordion">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <br />
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-name">Name</th>
                                        <th class="product-price">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in ViewBag.Roles)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>
                                                <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger">
                                                    <i class="glyphicon glyphicon-trash"></i>  Delete
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
