﻿@model Store.Data.ViewModels.EditUserViewModel




<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="wishlist.html">Permissions</a></li>
            </ul>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="container">
    <div class="coupon-accordion">
        <!-- ACCORDION START -->
        @*<h3>Add User <span id="showlogin"></span></h3>*@
        <div id="checkout-login" class="coupon-content" style="display: block;">
            <div class="coupon-info">
                <form asp-action="AssignRoleToUser" asp-controller="Role" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @Html.HiddenFor(X => X.UserId)
                    <div class="row clearfix">
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <input asp-for="UserName" class="form-control" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <div class="form-line">
                                    <select asp-for="ApplicationRoleId" class="form-control" asp-items="ViewBag.ApplicationRoleId"><option>-----PleaseselectRole---</option></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <center>
                        <input type="submit" value="Assign" class="btn btn-raised btn-success btn-sm" />
                    </center>
                </form>
            </div>
        </div>

        <div class="cart-main-area wish-list ptb-45">


            <div class="coupon-accordion">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <br />
                        <br />
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="product-name">Role</th>
                                        <th class="product-price">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.UserRoles)
                                {
                                    <tr>
                                        <td>
                                            @item
                                        </td>
                                        <td>
                                            <a href="@Url.Action("DeleteRoleToUser", "Role", new { item = @item , UserId=Model.UserId })" class="btn btn-raised btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                            }
                                </tbody>

                            </table>
                        </div>



                    </div>
                </div>
            </div>

        </div>
    </div>
    
</div>

