﻿@model Store.Data.ViewModels.ProductViewModel
@{
    ViewData["Title"] = "Products";
}

@*<div class="breadcrumb-area mt-30">
        <div class="container">
            <div class="breadcrumb">
                <ul class="d-flex align-items-center">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="wishlist.html">Products</a></li>
                </ul>
            </div>
        </div>

    </div>*@



<div class="cart-main-area wish-list ptb-45">

    <div class="container">
        
        <div class="coupon-accordion">
            <!-- ACCORDION START -->
            <h3>Add Product <span id="showlogin"></span></h3>
            <div id="checkout-login" class="coupon-content" style="display: block;">
                <div class="coupon-info">
                   
                        <form id="myForm" asp-action="Add" asp-controller="Product" method="post">
                            <div class="modal-body">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="col-6">
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-sm-30">
                                            <label asp-for="EnName" class="control-label">English Name</label>
                                            <input asp-for="EnName" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label asp-for="ArName" class="control-label">Arabic Name</label>
                                            <input asp-for="ArName" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label asp-for="Quantaty" class="control-label">Quantaty</label>
                                            <input asp-for="Quantaty" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label asp-for="Price" class="control-label">Pricee</label>
                                            <input asp-for="Price" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="checkout-form-list mb-30">
                                            <label asp-for="Description" class="control-label">Description</label>
                                            <input asp-for="Description" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-10">
                                        <div class="checkout-form-list mb-30">
                                            <label asp-for="CatogeryId" class="control-label">Catogery</label>
                                            <div class="col-md-10">
                                                <select asp-for="CatogeryId" asp-items="@Model.Categorylist"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" id="btnSubmit" class="btn btn-info"> Add Product </button>
                            </div>
                        </form>
                  
                </div>
            </div>
        </div>
    </div>
</div>

