﻿@model IEnumerable<Store.Data.ViewModels.ProductViewModel>


<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="wishlist.html">Products</a></li>
            </ul>
        </div>
    </div>

</div>

<div class="cart-main-area wish-list ptb-45">

    <div class="container">

        <a asp-action="Add" class="btn btn-info">
            Add Product
        </a>
        <div class="coupon-accordion">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <br />
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-remove">English Name</th>
                                    <th class="product-thumbnail">Arabic Name</th>
                                    <th class="product-name">Quantaty</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-price">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                               
                                @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.EnName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ArName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Quantaty)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                    <td>

                                        <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>  Delete
                                        </a>
                                    </td>
                                </tr>
                        }
                              
                            </tbody>

                        </table>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
