@using Microsoft.AspNetCore.Identity
@using Store.Data.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm"  class="navbar-right">
    <ul>
        <li>
            <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li>
            <button type="submit" style="background:none" class="return-customer-btn">Sign out</button>

        </li>
    </ul>
    
    </form>
}
else
{
    <ul>
        @*<li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>*@
        @*<li><a href="account.html">My Account</a></li>*@
        <li><a href="checkout.html">Checkout</a></li>
        <li><a href="@Url.Action("Login","Account")">Sign in</a></li>
    </ul>
}
