﻿@model Store.Data.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Add";
}
<br />
<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="wishlist.html">Add User</a></li>
            </ul>
        </div>
    </div>

</div>

<br />

<div class="container">
    <div class="coupon-accordion">
        <!-- ACCORDION START -->
        <h3>Add User <span id="showlogin"></span></h3>
        <div id="checkout-login" class="coupon-content" style="display: block;">
            <div class="coupon-info">
                <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <br />
                    <div class="form-group">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <input type="submit" value="Add" class="return-customer-btn">
                </form>
            </div>
        </div>
    </div>
</div>