﻿@model IEnumerable<Store.Data.Models.User>


<div class="breadcrumb-area mt-30">
    <div class="container">
        <div class="breadcrumb">
            <ul class="d-flex align-items-center">
                <li><a href="index.html">Home</a></li>
                <li class="active"><a href="wishlist.html">Users</a></li>
            </ul>
        </div>
    </div>

</div>

<div class="cart-main-area wish-list ptb-45">

    <div class="container">

        <a asp-action="Add" class="btn btn-info">
             Add User
        </a>
        <div class="coupon-accordion">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <br />
                    <br />
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-remove">First Name</th>
                                    <th class="product-thumbnail">Last Name</th>
                                    <th class="product-name">Email</th>
                                    <th class="product-price">Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                    <td>
                                        @*<a id="editUserModal" data-toggle="modal" asp-action="EditUser" asp-route-id="@item.Id" data-target="#modal-action-user"
                                           class="btn btn-info">
                                            <i class="glyphicon glyphicon-pencil"></i>  Edit
                                        </a>*@
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                            <i class="glyphicon glyphicon-trash"></i>  Delete
                                        </a>
                                        <a asp-action="Premission" asp-controller="Role" asp-route-id="@item.Id" class="btn btn-warning">
                                            <i class="glyphicon glyphicon-edit"></i>  Premission
                                        </a>
                                    </td>
                                </tr>
                        }
                            </tbody>

                        </table>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
